.noline {
  border-style: none;
}
.panesSelectors{
  margin-left: 3em;
}
.paneSelector {
  width: 15%;
  float: left;
  text-align: center;
  margin: 1em 0;
  line-height: 2em;
  border: 1.5px solid black;
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.paneSelector:hover, button:hover, .looklikebutton:hover {
  text-decoration: underline;
  text-shadow: none;
  cursor: pointer;
}
.selected {
  border-bottom: none;
  background: none;
  color: white;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  border-left: 0px;
  border-right: 0px;
}
.selected:hover {
  text-decoration: none;
  cursor: auto;
  background: none;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.nextOnLeft {
  border-bottom-right-radius: 15px;
}
.nextOnRight {
  border-bottom-left-radius: 15px;
}
#selectcave{
  border-left: 1.5px solid black;
}
#selecttrade{
  border-right: 1.5px solid black;
}
#info{
  width: 200px;
}
#game{
  width: 900px;
}
#event{
  background-color: white;
  position: absolute;
  left: 300px;
  top: 100px;
  padding: 1em;
}
.border{
  border: 1.5px solid black;
}
button:active, .looklikebutton:active {
  background-color: #dbd6d6;
}
button:focus {
  outline: none;
}
fieldset {
  border-radius: 20px;
}
button, .looklikebutton {
  width: 125px;
  border: 1.5px solid black;
  background-color: #fff;
  margin-right: 10px;
  padding: 0.1em;
  font-size: 1.0em;
  font-weight: 500;
  background-color: #ffffff;
  text-align: center;
  border-radius: 5px;
}
